@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.ua-ad {
  text-align: center;
  padding: 10px 0;
}

code[class*='language-'],
pre[class*='language-'] {
  text-shadow: none !important;
  border-radius: 4px;
  margin-bottom: 44px;
}

.book {
  font-family: 'Pretendard', sans-serif !important;
}

.book .markdown-section pre > code {
  font-family: 'JetBrains Mono', 'Roboto Mono', Consolas, Monaco, andale mono, ubuntu mono,
    monospace !important;
  font-size: 0.9em !important;
}

.markdown-section code {
  font-family: 'JetBrains Mono', 'Roboto Mono', Consolas, Monaco, andale mono, ubuntu mono,
    monospace !important;
}

.markdown-section h5 {
  font-size: 0.9em !important;
  text-transform: uppercase !important;
}

.font-settings {
  display: none;
}
